%h1 Mine links are so mine
%table
	%thead
		%tr
			%th Slug
			%th Url
			%th Hits
	%tbody
		- for url in current_user.urls
			%tr
				%td <a href="http://#{request.host}/#{url.slug}">#{url.slug}</a>
				%td <a href="#{url.url}">#{url.url}</a>
				%td #{url.hits}
%a{:href => "/"} Go home